footer {
  background-color: black;
  height: 480px;
  width: 100%;
  padding: 5rem 5rem 0 5rem;
  display: flex;
  flex-wrap: wrap;
}

footer svg {
  cursor: pointer;
}

footer a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.social-webs-footer {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
.social-webs-footer-big-p {
  width: 100%;
  padding-right: 65%;
  color: white;
  font-size: 32px;
  font-weight: bold;
}
.social-webs-footer-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.social-webs-footer-button button {
  background-color: #77d7db;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 400px;
  font-weight: bold;
  cursor: pointer;
}
.social-webs-footer-mail {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.ul-footer-big {
  width: 25%;
  font-size: 16px;
  padding-left: 2rem;
}
.ul-footer-big li {
  padding-top: 1rem;
}
.ul-footer-small {
  display: none;
}

.rights {
  display: flex;
  width: 100%;
  padding-bottom: 3rem;
  align-items: end;
  justify-content: space-between;
}
.rights p {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
}
.social-webs-footer-svg {
  width: 238px;
  height: 37px;
}

@media screen and (max-width: 768px) {
  footer {
    height: 690px;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  footer a {
    color: white;
  }

  .social-webs-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .social-webs-footer-big-p {
    padding-right: 0;
  }
  .social-webs-footer-button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .social-webs-footer-button button {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .social-webs-footer-mail {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .ul-footer-big {
    display: none;
  }
  .ul-footer-small {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    height: 170px;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .rights {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-bottom: 0rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
  }
  .rights p {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
  }
  .social-webs-footer-svg {
    width: 150px;
    height: 27px;
  }
}
