header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  z-index: 1;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-list li {
  display: flex;
}

.nav-list li a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 18px;
}
.nav-p-language {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.button-nostyles {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

li.search-big {
  display: block;
}
.search-small {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu,
.close-menu,
.logo-b,
li.logo-boron-sidemenu,
.search-small,
button.suscribe-button,
div.social-webs {
  display: none;
}

/* Cambiar el nav al hacer scroll */
@media screen and (min-width: 769px) {
  header.scrolled {
    .logo-boron {
      display: none;
    }
    li.search-big {
      display: none;
    }
    .search-small {
      display: block;
    }
    .logo-b {
      display: block;
    }

    .menu,
    .close-menu {
      display: block;
      cursor: pointer;
    }

    .menu {
      background-color: black;
      height: 60px;
      width: 140px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: none;
      transition: background-color 0.3s;
    }
    .menu p {
      color: white;
      font-size: 18px;
    }
    .close-menu {
      position: absolute;
      right: 4rem;
      background-color: black;
      height: 60px;
      width: 140px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: none;
      transition: background-color 0.3s;
    }
    .close-menu p {
      color: white;
      font-size: 18px;
    }
    .menu:hover,
    .close-menu:hover {
      background-color: rgb(30, 30, 30);
    }

    button.suscribe-button {
      background-color: #77d7db;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 60px;
      width: 65%;
      border: none;
      cursor: pointer;
    }

    button.suscribe-button p {
      color: black;
      font-weight: bold;
      font-size: 14px;
    }

    .social-webs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
    }
    .social-webs div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20%;
    }

    .social-webs-mail {
      display: none;
    }

    .nav {
      padding: 2rem 4rem;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      width: 50%;
      height: 100vh;
    }
    .nav.visible {
      opacity: 1;
      visibility: visible;
    }
    .nav-list {
      padding-top: 5rem;
      flex-direction: column;
      gap: 2rem;
    }
    .nav-list li a {
      color: white;
      font-size: 40px;
    }
    .nav-language {
      display: flex;
      justify-content: space-between;
    }
    .nav-p-language {
      color: white;
      font-size: 40px;
    }
  }
}
/* Termina cambiar el nav al hacer scroll */

@media screen and (max-width: 1024px) {
  header {
    padding: 2rem;
  }
  .logo-boron {
    display: none;
  }
  li.search-big {
    display: none;
  }
  .search-small {
    display: block;
  }
  .logo-b {
    display: block;
  }
  li.logo-boron-sidemenu {
    display: block;
  }

  .menu,
  .close-menu {
    display: block;
    cursor: pointer;
  }

  .menu {
    background-color: black;
    height: 60px;
    width: 140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
  }
  .menu p {
    color: white;
    font-size: 18px;
  }
  .close-menu {
    position: absolute;
    right: 2rem;
    background-color: black;
    height: 60px;
    width: 140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
  }
  .close-menu p {
    color: white;
    font-size: 18px;
  }

  div.social-webs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }
  button.suscribe-button {
    background-color: #77d7db;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    border: none;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
  }
  button.suscribe-button p {
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  .social-webs-mail {
    font-weight: bold;
    font-size: 16px;
    color: white;
  }

  div.social-webs div svg {
    margin-left: 1rem;
  }

  .nav {
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    min-width: 100%;
    min-height: 100vh;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    padding-top: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .nav-list li a {
    color: white;
    font-size: 24px;
  }
  .nav-language {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .nav-p-language {
    color: white;
    font-size: 24px;
    padding-top: 1rem;
  }
}
