.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10% 0 10%;
}

.main-title {
  font-size: 205px;
}
@media screen and (max-width: 1440px) {
  .main-title {
    font-size: 125px;
  }
}

.main-text {
  font-size: 64px;
  font-weight: bold;
}

.main-blue {
  background-color: #77d7db;
}
.main-underline-1 {
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-image: url("/assets/svgs/underline1.svg");
}
.main-underline-2 {
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-image: url("/assets/svgs/underline2.svg");
}

.main-width {
  background-color: #ff5e43;
}
.main-width p {
  font-size: 64px;
  padding: 10%;
}

@media screen and (max-width: 768px) {
  .main {
    height: auto;
    margin: 7rem 5% 2rem 5%;
  }

  .main-title {
    font-size: 55px;
  }

  .main-text {
    font-size: 25px;
    font-weight: bold;
  }

  .main-width p {
    font-size: 24px;
  }
}
